@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {background:#fff; font-size:14px; font-family:Microsoft Yahei ,黑体,Verdana, Arial, Helvetica, sans-serif;background: #F8F8F8;}
textarea{resize:none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%;}
ol,ul,li { list-style:none;}
img { border:none;display: block; vertical-align: middle;}
a,a:hover{text-decoration: none;}
*{outline: none;color:#555;}
/* css common */
.header{height: 50px; line-height: 50px; width: 100%; text-align: center; font-size: 16px;background: #1a191e; color: white;}
.wrap{width:100%;position:relative;overflow:hidden;}
.abs{position: absolute;}
.rel{position: relative;}
.red{color:#f40017;}
.lft{float: left;}
.rgt{float: right;}
.t_lft{text-align: left;}
.t_rgt{text-align: right;}
.white{color:white;}
.yellow{color:yellow;}
.orange{color:#fc8800}
.blue{color:#237BDE;}
.green{color:#5ed44d;}
.gray{color:#555 !important;}
.fsize12{font-size: 12px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.padding0{padding:0 !important;}
.main{padding: 20px 15px;}
.margin0auto{margin: 0 auto;}
.btn-primary{height: 40px;line-height: 24px;}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 4px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus{
	box-shadow: 0 0 5px #fcb15b ;
	-webkit-box-shadow: 0 0 5px #fcb15b ;
	-moz-box-shadow: 0 0 5px #fcb15b ;
	border: 1px solid #fcb15b ;
}